@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0 auto;
  background-color: rgb(123, 206, 160);
  font-family: 'Neue Montreal', sans-serif;
 
}

ul {
  list-style: none;
}

code {
  font-family: 'Neue Montreal', sans-serif;
}